@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fontcolor:#333333;
    --fontsize:1.6rem;
    --btncolor: #177E93;
    --fontwhite: whitesmoke;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Barlow', sans-serif;
    line-height: 1;
    font-weight: 400;
}

.container {
    width: 110rem;
    margin: 0 auto;
}

.header{
   
  height: 6.4rem;
 padding: 1rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4.8rem;
  
    
}
.nav-bar
{
    display: flex;
    gap: 20rem;
}

.nav-items{
    display: flex;
    list-style: none;
    gap: 3.6rem;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links:visited, .nav-links:link{
    font-size: var(--fontsize);
    color: var(--fontcolor);
    text-decoration: none;

}

.nav-links.nav-cta:link,.nav-links.nav-cta:visited
{
    background-color: var(--btncolor);
    padding: 0.7rem 2rem;
    border-radius: 25px;
    color: var(--fontwhite);
    font-weight: 500;
}

.section-hero
{
    padding: 4.8rem 0 9.6rem 0;
}

.hero{
    max-width: 120rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 0 3.2rem;
    gap: 4rem;
    align-items: center;
}

.hero-img
{
    width: 600px;
    height: 374px;
    -webkit-box-shadow: 0px 23px 33px 0px rgba(0,0,0,0.26); 
box-shadow: 0px 23px 33px 0px rgba(0,0,0,0.26);
}

.heading-primary
{
   font-size: 4.3rem;
   color: var(--fontcolor);
    margin-bottom: 1rem;
    line-height: 48px;
}

.heading-text{
    font-size: 2rem;
    margin-bottom: 5.6rem;
    line-height: 30px;
}

.nav-links.nav-cta-btn:link,.nav-links.nav-cta-btn:visited
{
    background-color: var(--btncolor);
    padding: 1.6rem 6.8rem;
    border-radius: 25px;
    color: var(--fontwhite);
    font-weight: 500;
    font-size: 1.8rem;
}

